<div class="messages-wrapper">
  <div class="messages-container">
    <!-- Two-column layout -->
    <div class="messages-layout">
      <!-- Left Column - New Message Form -->
      <div class="new-message-section">
        <app-new-message (messageSent)="onMessageSent()"></app-new-message>
      </div>

      <!-- Right Column - Messages List -->
      <div class="messages-section">
        <app-messages-list
          [messages]="messages"
          [isLoading]="isLoading"
          [errorMessage]="errorMessage"
          (refreshRequested)="onRefreshRequested()">
        </app-messages-list>
      </div>
    </div>
  </div>
</div>
